body {
    color: #F5F6F7;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width if desired */
    padding: 20px; /* Add some padding */
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center; /* Center align content */
}

.title {
    margin-bottom: 20px; /* Add some space between title and form */
}

.input-container {
    display: flex;
}

.input-container input[type="number"] {
    width: calc(50% - 5px); /* Set input width to occupy half of the container width */
    margin-right: 10px; /* Add some space between inputs */
}

.input-container input[type="submit"] {
    width: calc(50% - 5px); /* Set input width to occupy half of the container width */
}

.result-container {
    display: flex;
    align-items: center; /* Center vertically */
}

.result {
    flex: 1; /* Occupy 50% of the width */
}

#copyButton {
    flex: 1; /* Occupy 50% of the width */
    margin-top: 10px;
    margin-left: 10px; /* Add some space between the button and the paragraph */
}

