{% extends "layout.html" %}

{% block body %}

        <canvas></canvas>
        <section class="main">
            <h1 class="title">Random Strong Password</h1>
            <div class="lengthSelector">
                <form class="form" action="/" method="post">
                    <div class="input-container">
                        <input type="number" min="8" max="16" placeholder="Password Length" name="length" autocomplete="off" autofocus required>
                        <input type="submit" value="Generate">
                    </div>
                </form>
            </div>
            <div class="result-container">
                <p class="result">{{ passwordSpace }}</p>
                <button id="copyButton">Copy Password</button>
            </div>
        </section>

{% endblock %}